<div class="row">
	<div class="large-12 column">
		<h1>Profile - <%= @team.name %> - Shuffle Teams</h1>
	</div>
</div>
<div class="row">
	<div id="old-pairs" class="large-5 column">
		<% if @old_pairs.empty? %>
		<span>No existing pairings</span>
		<% else %>
		<table>
			<tbody>
			<% @old_pairs.each do |pair| %>
				<tr>
					<% pair.each do |user| %>
					<td><%= user.username %></td>
					<% end %>
				</tr>
			<% end %>
			</tbody>
		</table>
		<% end %>
	</div> 
	<div class="column large-1">
		<form method="POST">
			<button type="submit">SHUFFLE</button>
		</form>
	</div>
	<div id="new-pairs" class="column large-5">
		<% if @new_pairs.empty? %>
		<span>Shuffle me</span>
		<% else %>
		<table>
			<tbody id="newpairs-body">
			<% @new_pairs.each do |pair| %>
				<tr>
					<% pair.each do |user| %>
					<td draggable="true" ondragstart="return dragStart(event)" ondragenter="return dragEnter(event)" ondrop="return dragDrop(event)" ondragover="return dragOver(event)" id="newpair-user-<%= user.id %>" data-userid="<%= user.id %>"><%= user.username %></td>
					<% end %>
				</tr>
			<% end %>
			</tbody>
		</table>
		<% end %>
	</div> 
</div>
<% if not @new_pairs.empty? %>
	<div class="row">
		<div class="column large-3 large-offset-9">
			<form id="pairingSubmissionForm" action="savePairs" method="POST" onsubmit="return onsubmitPairings(event)">
				<!-- onsubmit-function will generate the hidden fields to be submitted-->
				<button type="submit">PAIR LIKE THIS</button>
			</form>
		</div>
	</div>
<% end %>

<script src="/js/dragAndDrop.js"></script>
