<div class="row">
  <div class="large-12 columns text-center">
    <h1>Profile - <%= @team.name %> </h1>
  </div>
</div>


<div class="row">
  <div class="small-8 small-offset-2 columns text-center">
    <h3>Add new team members.</h3>
    <form action="/team/<%= @team.id %>/members" method="POST">
      <div class="row collapse">
        <div class="small-9 columns">
          <input type="text" name="member_username" placeholder="Type a email" />
        </div>
        <div class="small-3 columns">
          <input type="submit" value="Add member" class="button postfix">
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">  
  <div class="small-6 columns">
    <form action="/team/<%= @team.id %>/shuffle" method="POST">
      <input type="submit" value="Generate Pairs" class="button expand">
    </form>
  </div>
  <div class="small-6 columns">
    <form action="/team/<%= @team.id %>/history" method="GET">
      <input type="submit" value="Show Pairing History" class="button expand">
    </form>
  </div>
</div>



<% unless @team.users.empty? %>
  <div class="small-12 columns text-center">
    <h3>Team Members</h3>
  </div>
  <% @team.users.each_slice(2) do |row| %>
    <div class="row" data-equalizer>
      <% row.each do |member| %> 
        <div class="small-6 columns" >
          <div class="panel no-low-pad"  data-equalizer-watch>
            <div class="row">
              <div class="small-3 columns">
                <img src="<%= member.image_url(large = true) %>">
              </div>
              <div class="small-8 columns">
                <h4 class="vertical-align"><%= member.nickname %></h4>
                <p><%= member.username %></p>
              </div>
              <div class="small-1 columns">
                <form method="POST" id="delete-form-<%=member.id%>" action="/team/<%=@team.id%>/user/<%=member.id%>">
                  <input type="hidden" name="_method" value="DELETE"/>
                  <a href="#" onclick="$('#delete-form-<%=member.id%>').submit(); return false"><span class="fi-x" /></a>
                </form>
              </div>
            </div>
            <div class="row">
              <% if not member.bio == "Share a little about yourself." %>
                <p class="top-margin small-12 columns no-low-margin"><%= member.bio %></p>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>  
    </div>  
  <% end %>    
<% end %>

