<div class="row">
  <div class="large-12 columns text-center">
    <h1>Profile - <%= @team.name %> </h1>
  </div>
</div>


<div class="row">
  <div class="small-8 small-offset-2 columns">
    <form action="/team/<%= @team.id %>/members" method="POST">
      <div class="row collapse">
        <div class="small-9 columns">
          <input type="text" name="member_username" placeholder="Type a username" />
        </div>
        <div class="small-3 columns">
          <input type="submit" value="Add member" class="button postfix">
        </div>
      </div>
    </form>
    <form action="/team/<%= @team.id %>/shuffle" method="POST">
      <div class="small 8">
        <input type="submit" value="Generate Pairs" class="button expand">
      </div>
    </form>
  </div>
</div>



<% unless @team.users.empty? %>
  <% @team.users.each_slice(2) do |row| %>
    <div class="row">
      <% row.each do |member| %> 
        <div class="small-6 columns">
          <div class="panel">
            <div class="row">
              <div class="small-3 columns">
                <img src="<%= member.image_url %>" width="80" height="80">
              </div>
              <div class="small-9 columns">
                <h4 class="vertical-align"><%= member.username %></h4>
              </div>
            </div>
          </div>
        </div>
      <% end %>  
    </div>  
  <% end %>    
<% end %>

